@charset "UTF-8";

/*Подключение функций, миксинов /=============================================================================*/

/*=============================================================================================================*/

/*Подключение шрифтов /=============================================================================*/

/* @import 'fonts.scss'; */

/*=============================================================================================================*/

/*Размер шрифта по умолчанию /=============================================================================*/

/*=============================================================================================================*/

/*Контейнер и сетка /=============================================================================*/

[class*=__container] {
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 0 0.625rem;
  width: 100%;
}

/* .container{max-width: $mw; margin: 0 auto; width: 100%;
    @media (max-width: $md1){max-width: 970px;}
    @media (max-width: $md2){max-width: 750px;}
    @media (max-width: $md3){max-width: 470px; padding: 0 10px;}
    @media (max-width: $md4){max-width: 100%; padding: 0 10px;}
} */

/*=============================================================================================================*/

/*Иконочный шрифт /=============================================================================*/

/* @import 'icons'; */

/*=============================================================================================================*/

/*Обнуление /=============================================================================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*=============================================================================================================*/

/*Переменные для адаптивного свойства /=============================================================================*/

/*=============================================================================================================*/

/*Основные цвета /=============================================================================*/

:root {
  --color-main: #000;
}

/*=============================================================================================================*/

/*Основные стили /=============================================================================*/

body {
  font-size: 1rem;
  font-family: "Pixelify Sans", sans-serif;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/backgrounds/main.webp);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/main.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

/*=============================================================================================================*/

/*Общие блоки /=============================================================================*/

/*=============================================================================================================*/

/*=============================================================================================================*/

.levels {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.levels__container {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  gap: 1.25rem;
}

.levels__item {
  border-radius: 0.3125rem;
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
  display: block;
  border: 0.1875rem solid #b05200;
  -webkit-box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.4862745098);
          box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.4862745098);
  -webkit-transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
}

.levels__item:focus {
  -webkit-box-shadow: 0 0 0.9375rem rgba(255, 255, 255, 0.6352941176);
          box-shadow: 0 0 0.9375rem rgba(255, 255, 255, 0.6352941176);
  -webkit-transform: translate(0, -0.625rem);
      -ms-transform: translate(0, -0.625rem);
          transform: translate(0, -0.625rem);
}

.levels__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.levels__item img {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.levels__numb {
  color: #fff;
  position: absolute;
  top: 50%;
  z-index: 10;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 3.75rem;
}

/*=============================================================================================================*/

.game {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: url(../img/backgrounds/02.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.game__heroes {
  width: 96px;
  height: 96px;
  overflow: hidden;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  bottom: 64px;
  left: 32px;
  position: absolute;
}

.game__heroes img {
  width: 672px;
  height: 288px;
  position: absolute;
  top: 0;
  left: 0;
}

/*=============================================================================================================*/

/*=============================================================================================================*/

/*=============================================================================================================*/

/*=============================================================================================================*/

@media (max-width: 1440px) {
  .levels__numb {
    font-size: calc(45px + 15 * (100vw - 320px) / 1120);
  }
}

@media (any-hover: hover) {
  .levels__item:hover {
    -webkit-box-shadow: 0 0 0.9375rem rgba(255, 255, 255, 0.6352941176);
            box-shadow: 0 0 0.9375rem rgba(255, 255, 255, 0.6352941176);
    -webkit-transform: translate(0, -0.625rem);
        -ms-transform: translate(0, -0.625rem);
            transform: translate(0, -0.625rem);
  }
}