@charset "UTF-8";

/*Подключение функций, миксинов /=============================================================================*/

/*=============================================================================================================*/

/*Подключение шрифтов /=============================================================================*/

/* @import 'fonts.scss'; */

/*=============================================================================================================*/

/*Размер шрифта по умолчанию /=============================================================================*/

/*=============================================================================================================*/

/*Контейнер и сетка /=============================================================================*/

[class*=__container] {
  max-width: 62.5rem;
  margin: 0 auto;
  padding: 0 0.625rem;
  width: 100%;
}

/* .container{max-width: $mw; margin: 0 auto; width: 100%;
    @media (max-width: $md1){max-width: 970px;}
    @media (max-width: $md2){max-width: 750px;}
    @media (max-width: $md3){max-width: 470px; padding: 0 10px;}
    @media (max-width: $md4){max-width: 100%; padding: 0 10px;}
} */

/*=============================================================================================================*/

/*Иконочный шрифт /=============================================================================*/

/* @import 'icons'; */

/*=============================================================================================================*/

/*Обнуление /=============================================================================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*=============================================================================================================*/

/*Переменные для адаптивного свойства /=============================================================================*/

/*=============================================================================================================*/

/*Основные цвета /=============================================================================*/

:root {
  --color-main: #000;
  --yellow: rgb(216, 216, 0);
}

/*=============================================================================================================*/

/*Основные стили /=============================================================================*/

body {
  font-size: 1rem;
  font-family: "Pixelify Sans", sans-serif;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper.error::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #313131;
  z-index: 100;
}

.wrapper.game::after {
  content: "";
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
  background: #000000 url(../img/icons/load.svg) center no-repeat;
  background-size: 9.375rem;
  -webkit-transition: opacity 0.6s ease 0.8s;
  transition: opacity 0.6s ease 0.8s;
}

.wrapper.game::before {
  content: "Loading...";
  position: absolute;
  top: 25%;
  left: 50%;
  font-size: 5rem;
  color: #fff;
  font-weight: 700;
  z-index: 501;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: opacity 0.6s ease 0.8s;
  transition: opacity 0.6s ease 0.8s;
}

.wrapper.loaded::after {
  opacity: 0;
}

.wrapper.loaded::before {
  opacity: 0;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../img/backgrounds/09.webp);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/09.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

/*=============================================================================================================*/

/*Общие блоки /=============================================================================*/

.button {
  color: #000;
  background-color: var(--yellow);
  padding: 0.9375rem 1.5625rem;
  border-radius: 0.4375rem;
  font-weight: 700;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.button:focus {
  background-color: rgb(206, 206, 0);
}

.button_red {
  background-color: red;
  color: #fff;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}

.button_red:focus {
  background-color: rgb(231, 0, 0);
}

.button_green {
  background-color: green;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  color: #fff;
}

.button_green:focus {
  background-color: rgb(0, 117, 0);
}

/*=============================================================================================================*/

/*=============================================================================================================*/

@-webkit-keyframes buffScaling {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes buffScaling {
  0% {
    -webkit-transform: scale(0.85);
            transform: scale(0.85);
  }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.buff {
  -webkit-animation: buffScaling 0.4s ease-in infinite alternate;
          animation: buffScaling 0.4s ease-in infinite alternate;
}

.levels {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.levels__container {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(rem(250), 1fr)); */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.levels__back {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.levels__item {
  border-radius: 0.3125rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30%;
          flex: 0 0 30%;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 0.1875rem solid #b05200;
  -webkit-box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.4862745098);
          box-shadow: 0 0 0.625rem rgba(255, 255, 255, 0.4862745098);
  -webkit-transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  transition: box-shadow 0.3s ease, transform 0.3s ease, -webkit-box-shadow 0.3s ease, -webkit-transform 0.3s ease;
}

.levels__item:focus {
  -webkit-box-shadow: 0 0 0.9375rem rgba(255, 255, 255, 0.6352941176);
          box-shadow: 0 0 0.9375rem rgba(255, 255, 255, 0.6352941176);
  -webkit-transform: translate(0, -0.625rem);
      -ms-transform: translate(0, -0.625rem);
          transform: translate(0, -0.625rem);
}

.levels__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

.levels__numb {
  color: #fff;
  position: relative;
  z-index: 10;
  text-align: center;
  font-weight: 700;
  font-size: 3.75rem;
}

.levels__raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
  position: relative;
}

.levels__raiting img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
          flex: 0 0 50px;
  width: 50px;
}

/*=============================================================================================================*/

.game {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: url(../img/backgrounds/09.webp);
  background-size: cover;
  background-repeat: no-repeat;
}

.game__heroes {
  width: 96px;
  height: 96px;
  overflow: hidden;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  bottom: 64px;
  left: 220px;
  position: absolute;
  z-index: 100;
}

.game__heroes img {
  width: 672px;
  height: 576px;
  position: absolute;
  top: 0;
  left: 0;
}

.game__timer {
  color: var(--yellow);
  font-size: 2.1875rem;
  font-weight: 700;
  position: absolute;
  top: 16px;
  left: 50%;
  z-index: 600;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.game__settings {
  right: 16px;
  z-index: 200;
  z-index: 600;
  top: 16px;
  cursor: pointer;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  background-color: transparent;
}

.game__settings:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.game__settings img {
  width: 40px;
}

@-webkit-keyframes showHurt {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(40px, -40px);
            transform: translate(40px, -40px);
    opacity: 0;
  }
}

@keyframes showHurt {
  0% {
    opacity: 1;
  }

  100% {
    -webkit-transform: translate(40px, -40px);
            transform: translate(40px, -40px);
    opacity: 0;
  }
}

/*=============================================================================================================*/

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow-y: auto;
  visibility: hidden;
}

.popup.open {
  visibility: visible;
  z-index: 800;
}

.popup.open .popup__body {
  opacity: 1;
}

.popup.open .popup__content {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__body {
  background-color: rgba(0, 0, 0, 0.6156862745);
  min-height: 100%;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__content {
  background-color: #fff;
  padding: 1.5625rem;
  min-width: 25rem;
  -webkit-transform: scale(0.5);
      -ms-transform: scale(0.5);
          transform: scale(0.5);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 0, 0.384);
          box-shadow: 0px 0px 20px rgba(255, 255, 0, 0.384);
  border-radius: 0.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  max-width: 31.25rem;
}

.popup__close {
  background-color: transparent;
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  text-align: right;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 1.25rem;
  fill: var(--grey);
}

.popup__close:focus {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.popup__title {
  font-size: 3.75rem;
  margin-bottom: 0.4166666667em;
}

.popup__time {
  font-weight: 700;
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

.popup__raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.25rem;
}

.popup__raiting img {
  width: 3.125rem;
}

.popup__text {
  font-size: 1.375rem;
  margin-bottom: 1.25rem;
  font-weight: 700;
}

.popup__text.red {
  color: red;
}

.popup__text.green {
  color: green;
}

.popup__button:not(:last-child) {
  margin-bottom: 0.625rem;
}

/*=============================================================================================================*/

/*=============================================================================================================*/

/*=============================================================================================================*/

@media (max-width: 1440px) {
  .levels__numb {
    font-size: calc(45px + 15 * (100vw - 320px) / 1120);
  }

  .game__timer {
    font-size: calc(28px + 7 * (100vw - 320px) / 1120);
  }

  .popup__title {
    font-size: calc(45px + 15 * (100vw - 320px) / 1120);
  }

  .popup__time {
    margin-bottom: calc(15px + 5 * (100vw - 320px) / 1120);
  }

  .popup__raiting {
    margin-bottom: calc(15px + 5 * (100vw - 320px) / 1120);
  }

  .popup__text {
    margin-bottom: calc(15px + 5 * (100vw - 320px) / 1120);
  }
}

@media (any-hover: hover) {
  .button:hover {
    background-color: rgb(206, 206, 0);
  }

  .button_red:hover {
    background-color: rgb(231, 0, 0);
  }

  .button_green:hover {
    background-color: rgb(0, 117, 0);
  }

  .levels__item:hover {
    -webkit-box-shadow: 0 0 0.9375rem rgba(255, 255, 255, 0.6352941176);
            box-shadow: 0 0 0.9375rem rgba(255, 255, 255, 0.6352941176);
    -webkit-transform: translate(0, -0.625rem);
        -ms-transform: translate(0, -0.625rem);
            transform: translate(0, -0.625rem);
  }

  .game__settings:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .popup__close:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}