/*Подключение функций, миксинов /=============================================================================*/
@use 'sass:math';
@import 'functions';
/*=============================================================================================================*/
/*Подключение шрифтов /=============================================================================*/
/* @import 'fonts.scss'; */
/*=============================================================================================================*/
/*Размер шрифта по умолчанию /=============================================================================*/
$mainFontSize: 16; //?Заполнить
/*=============================================================================================================*/
/*Контейнер и сетка /=============================================================================*/
$mw:1000; //?Заполнить
$minwidth:rem(320);
$md1:rem($mw+12);
$md2:rem(992.98);
$md3:rem(767.98);
$md4:rem(479.98);
[class*="__container"] {
    max-width: rem($mw);
    margin: 0 auto;
    padding: 0 rem(10);
    width: 100%;
}
/* .container{max-width: $mw; margin: 0 auto; width: 100%;
    @media (max-width: $md1){max-width: 970px;}
    @media (max-width: $md2){max-width: 750px;}
    @media (max-width: $md3){max-width: 470px; padding: 0 10px;}
    @media (max-width: $md4){max-width: 100%; padding: 0 10px;}
} */
/*=============================================================================================================*/
/*Иконочный шрифт /=============================================================================*/
/* @import 'icons'; */
/*=============================================================================================================*/
/*Обнуление /=============================================================================*/
@import 'null';
/*=============================================================================================================*/
/*Переменные для адаптивного свойства /=============================================================================*/
$maxWidth: 1920; //макс ширина
$maxWidthContainer: 1440; //ширина макета //?Заполнить
/*=============================================================================================================*/
/*Основные цвета /=============================================================================*/
:root{ //?Заполнить
    --color-main: #000;
}
/*=============================================================================================================*/
/*Основные стили /=============================================================================*/
body{
    font-size: rem($mainFontSize);
    font-family: 'Pixelify Sans', sans-serif;
    &.lock{
        overflow: hidden;
    }
}
.wrapper{
    min-height: 100%;
    width: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.page{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/backgrounds/main.webp);
    background-size: cover;
	background-repeat: no-repeat;
}
/*=============================================================================================================*/
/*Общие блоки /=============================================================================*/
.title{}
.button{}
/*=============================================================================================================*/
@import "header";
/*=============================================================================================================*/
.levels {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
        gap: rem(20);
    }

    &__item {
        border-radius: rem(5);
        position: relative;
        overflow: hidden;
        padding-bottom: 100%;
        display: block;
        border: rem(3) solid #b05200;
        box-shadow: 0 0 rem(10) #ffffff7c;

        transition: box-shadow 0.3s ease, transform 0.3s ease;
        &:focus{
            box-shadow: 0 0 rem(15) #ffffffa2;
            transform: translate(0, rem(-10));
        }
        @media (any-hover: hover) {
            &:hover{
                box-shadow: 0 0 rem(15) #ffffffa2;
                transform: translate(0, rem(-10));
            }
        }
        &::after{
            content:'';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.4);
        }
        img{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__numb{
        color: #fff;
        position: absolute;
        top: 50%;
        z-index: 10;
        left: 50%;
        transform: translate(-50%, -50%);
        font-weight: 700;
        @include adaptiv-value('font-size', 60, 45, 1);
    }
}

/*=============================================================================================================*/
.game {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
    background: url(../img/backgrounds/02.webp);
    background-size: cover;
	background-repeat: no-repeat;
    &__heroes {
        width: 96px;
        height: 96px;
        overflow: hidden;
        transform: scale(1);
        bottom: 64px;
        left: 64px;
        position: absolute;
        img{
            width: 672px;
            height: 480px;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}


@keyframes showHurt {
    0%{
        opacity: 1;
    }
    100%{
        transform: translate(40px, -40px);
        opacity: 0; 
    }
}
/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
//footer
@import "footer";